.timed {
  display: block;
  width: 100%;
  border: none;
  background-color: #04AA6D;
  padding: 28px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.unlimited {
  display: block;
  width: 100%;
  border: none;
  background-color: #db4200;
  padding: 28px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}