.outerContainer {
  height: 100%;
  background-size: cover;

  align-items: center;
}

.statsTable {
  width: 75%;
  border-radius: 20px;
  margin: auto;
  margin-top: 20px;

  align-items: center;
  justify-content: center;

  padding-top: 10px;
  padding-bottom: 20px;

  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  display: flex;
}

.miniLeaderboard {
  width: 75%;
  border-radius: 20px;
  margin: auto;
  margin-top: 20px;

  align-items: center;
  justify-content: center;

  padding-top: 10px;
  padding-bottom: 20px;

  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  display: flex;
}

.statsTab {
  margin: 20px 30px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statsData {
  margin-bottom: 10px;
}

.statsLabel {

}