.leaderboardLabel {
  margin-top: 10px;
}

.leaderboardContainer {
	width: 75%;
	height: auto;

  border-radius: 20px;

	background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  margin: auto;
  margin-top: 20px;
}

.spinnerContainer {
  justify-self: center;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outerContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.topBarContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
}

.separator {
  height: 1px;
  width: 100%;
  background-color: #909090;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding: 16px 0; */
  flex: 1;
}

.hintTextContainer {
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}