.outerContainer {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;

  background-image: url("https://images.pexels.com/photos/2286895/pexels-photo-2286895.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
}

.loginFormTitle {
  margin: 0px;

  font-size: 6vh;

  color: rgb(0, 110, 255);

  font-style: italic;
}

.loginFormSubTitle {
  font-size: 3vh;

  margin-bottom: 1vh;

  color: rgb(3, 47, 102);
}

.formContainer {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;

  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  width: 50%;
  -webkit-backdrop-filter: blur(10px);
/* 
  padding-left: 2vw;
  padding-right: 2vw;

  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-left: 5vw;
  padding-right: 5vw; */

  padding: 16px 32px;
}

.formLabel {
  font-size: 1rem;
  color: rgb(0, 0, 0);
  margin-right: 1.25vw;
  align-self: flex-start;
}

.formInput {
  font-size: 1.2rem;
  min-height: 40px;
  padding: 4px 12px;
  /* background-color: blue; */
  border: 2px solid gray;
  border-radius: 8px;
  display: block;
}

.signupButton {
  margin: 8px 20px;
  padding: 16px 100px;

  font-size: 1.2rem;
  color: rgb(255, 255, 255);

  border-radius: 16px;
  border-style: none;
  background-image: linear-gradient(100deg, rgb(0, 102, 255), rgb(0, 217, 255));
}

.formRow {
  display: flex;
  flex-direction: column;
  margin: 8px 16px;
  padding: 4px;
  /* background-color: red; */
}

.switchAuthModeBtn {
  background: none;
  border:none;
  cursor: pointer;
  margin: 6px 0px;
  font-size: 1.1rem;
  color: #317cc8;
}