.row {
	/* display: block;
	width: 95%;
	margin: auto;*/
	height: 40px;

	/* border-bottom: 1px solid #AFAFAF; */
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.row > * {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* .position {
  position: relative;
  display: inline-block;
  width: 25%;
}

.name {
	position: relative;
	display: inline-block;
	width: 50%;
	line-height: 45px;
}

.score {
	position: relative;
	display: inline-block;
	width: 25%;
} */