.leaderboardDisplay {
  margin: auto;
  margin-top: 20px;
  padding: 10px 10px;

  border-radius: 20px;

  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  width: 75%;
  -webkit-backdrop-filter: blur(10px);
}

.leaderboardList {
  list-style: decimal;
}

.leaderboardListItem {
  font-size: 20px;
}